body {
  font-family: Palatino, Baskerville, times, sans-serif;
  font-size: 2em;
  background-color: #38ACEC;
}

h1 {
  margin-top: 5vh;
  margin-left: 8vw;
}

#output{
position: absolute;
margin-top: 2vh;
display:inline;
margin-left: 8vw;
margin-bottom: 12vh;
}

#my_camera {
  max-width: 50%;
  max-height: 75%;
  height: 45vh;
  display: inline;
  position:absolute;
  margin-left: 10%;
  margin-top: 25vh;
}

#results{
  max-width: 100%;
  max-height: 75%;
  height: 70vh;
  display: inline;
  float: right;
  margin-left: 40%;

}


video {
   /*filter: hue-rotate(180deg) saturate(200%);
   -moz-filter: hue-rotate(180deg) saturate(200%);
   -webkit-filter: hue-rotate(180deg) saturate(200%);*/
 }
