body {
  font-family: sans-serif;
}

video {
  margin-left:100px;
  max-width: 100%;
  width: 320px;
}

#output{
position: absolute;
margin-top: 2vh;
display:inline;
margin-left: 8vw;
margin-bottom: 12vh;
}

#my_camera {
  max-width: 75%;
  max-height: 100%;
  display: inline;
  position:absolute;
  margin-left: 40%;
  margin-top: 15vh;
}

#results{
  max-width: 150%;
  max-height: 125%;
  height: 70vh;
  display: inline;
  float: right;
  margin-left: 0 auto;
  margin-top: 10vh;
  margin-right: 5%;
}